body {
    margin: 0;
    font-family: 'Bahnschrift', sans-serif;     
    background-color: #F6F6F6;                          
  }
  hr {
    background-color: whitesmoke;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 10%;
}
  
  .nav {
    overflow: hidden;
    background-color: #C689C6;
  }
  
  .nav a {
    float:left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .nav a.active {
    background-color: #937DC2;
    color: white;
  }
  
  img{
    width: 100%;
    height:500px;
    margin: 0px;
  }
  
  .container{
    position: relative;
    text-align: center;
    color: white;
    font-size: 50px;
  }
  
  .info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .defination{
    position: relative;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    size: 100%;
  }
  
  .def_name{
    text-align: center;
    width: 100%;
  }
  
  .def{
    width: 100%;
    text-align: center;
  }
  
  .purpose{
    position: relative;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    size: 100%;
  }
  
  .material{  
    text-align: center;
    width: 100%;
  }
  
  .heading{
    width: 100%;
    text-align: center;
  }
  
  .life_cycle{
    position: relative;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    size: 100%;
  }
  
  .headiing{
    text-align: center;
  }
  
  .cycle img{
    position: relative;

    width: 35%;
    height:auto;
    text-align: center;
  }
  ul{
    list-style-position: inside;
  }
  .content{
    text-align: center;
  }
  
  .bottom{
    margin: 0px;
    padding: 5px;
    text-align: center;
    background-color: black;
    color: white;
  }
