@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

html {
    font-size: 10px;
    font-family: 'Noto Sans', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Hero Section  */

#hero {
    background-image: url(/images/1655904026018.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}

#hero .hero {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#hero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}

#hero h1:nth-child(1) {
    animation-delay: 1s;
}

#hero h1:nth-child(2) {
    animation-delay: 2s;
}

#hero h1:nth-child(3) {
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}

#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: darkorchid;
    animation: text_reveal_box 1s ease;
    animation-delay: .3s;
}

#hero h1:nth-child(1) span {
    animation-delay: .5s;
}

#hero h1:nth-child(2) span {
    animation-delay: 1.5s;
}

#hero h1:nth-child(3) span {
    animation-delay: 2.5s;
}

#hero .cta {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid darkorchid;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transform: .3s ease;
    transition-property: background-color, color;
}

#hero .cta:hover {
    color: white;
    background-color: darkorchid;
}


/* End of Hero Section */


/* Keyframes */

@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: white;
    }
}

@keyframes text_reveal_name {
    100% {
        color: darkorchid;
        font-weight: 500;
    }
}


/* End Keyframes */